@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../img/Fundo_pagina_login.png);
    background-size: cover;
    background-position: center;
    align-items: center;
}

#container{
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 30px 40px;
    border-radius: 20px;
    background-color: transparent;
    width: 420px;
    color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}   

#container  h1{
    font-size: 36px;
    text-align: center;
}

#login{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


#senha {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

#senha input,#login input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
    border: solid rgba(0, 0, 0, .2);
}

#login input::placeholder{
    color: rgb(138, 138, 138);
}

#senha input::placeholder{
    color: rgb(138, 138, 138);
}

#login img, #senha img{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 25%;
}

#lembrar-esqueci{
    display: flex;
    justify-content: space-between;
}

#lembrar-esqueci label input{
    accent-color: white;
    margin-right: 5px;
}

#lembrar-esqueci a{
    color: white;
    text-decoration: none;
}

#lembrar-esqueci a:hover{
    text-decoration: underline;
}

#buttom{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease, width 0.5s ease;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    
}

#buttom:hover{
    background-color: transparent;
    color: white;
}

#registrar{
    text-align: center;

}

#registrar a{
    text-decoration: none;
}

#registrar a:hover{
    text-decoration: underline;
}

#moon{
    color: #b700ff;
}



