@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/img/Fundo_cadastro.png);
    background-size: cover;
    background-position:center;
    align-items: center;
}


/* ESTA É A CORREÇÃO IMPORTANTE */
.item img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    background-color: #222;
    border-radius: 10px;
}

#container{
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 30px 40px;
    border-radius: 20px;
    background-color: transparent;
    width: 540px;
    height: 800px;
    color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}

#container h1{
    font-size: 36px;
    text-align: center;
}

#nome_cad, #email_cad, #cpf, #end, #tel {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/* Parte de Endereços */
#cep{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


#cep input{
    width: 50%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
    border: solid rgba(0, 0, 0, .2);
}

#cep img{
    position: absolute;
    left: 190px;
    top: 10px;
}



#cidade {
    margin: 30px 0;
    position: relative;
}

#cidade label {

    margin-bottom: 8px;
    font-size: 14px;
    color: white;
}

#cidade_select {
    width: 100%;
    height: 50px;
    padding: 0 45px 0 20px;
    font-size: 16px;

    border-radius: 40px;
    border: solid rgba(255, 255, 255, .2);

    background-color: transparent;
    color: rgb(117, 117, 117);

    outline: none;
    cursor: pointer;

    /* remove aparência padrão */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* Parte de Endereços */

#nome_cad input, #email_cad input, #cpf input, #end input, #tel input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
    border: solid rgba(0, 0, 0, .2);
}

#nome_cad input::placeholder,
#email_cad input::placeholder,
#cpf input::placeholder,
#end input::placeholder,
#tel input::placeholder,
#cep input::placeholder{

    color: rgba(252, 250, 250, 0.966);
}

#nome_cad img, #email_cad img, #cpf img, #end img ,#tel img{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 25%;
}



#buttom{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}


#buttom:hover{
    background-color: transparent;
    color: white;
    
}


#moon{
    color: #b700ff;
}
